* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  opacity: 1;

  cursor: ew-resize;
}

body {
  min-width: 14000px;

  overflow-y: hidden;
}

/* Main Title */

#mainTitle {
  font-family: roc-grotesk-extrawide, sans-serif;
  font-weight: 400;
  font-style: normal;

  text-transform: uppercase;
  font-size: 10rem;

  position: absolute;
  max-width: none;

  top: -20%;
  left: 0;

  pointer-events: none;
}

#mainTitle h1 {
  top: -16%;
  left: 0;

  transform: translateX(-0.5%);

  max-width: none;
  white-space: nowrap;
}

/* Fixed */

.sticky {
  position: fixed;
}

#subTitle {
  font-size: 15px;

  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;

  letter-spacing: 0;

  top: 40%;
  left: 10%;

  text-transform: uppercase;

  transition: all 0.3s ease-in-out;

  width: 30vw;
  height: 10vh;

  display: inline-block;
  white-space: nowrap;
  animation: slide 10s linear infinite;

  pointer-events: none;
}

/* Navigation */

.hrefNav {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;

  top: 50%;
  left: 12%;

  text-transform: uppercase;

  display: auto;
}

.link:visited {
  color: black;
}

.link {
  color: black;
  text-decoration: underline;
}

@keyframes slide {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}

.link:hover {
  border-color: black;
  border-width: 2px;
  border-style: solid;

  padding-left: 1rem;
}

#start {
  text-transform: lowercase;
}

#start:hover {
  text-decoration: underline;
}

/* Data Stlying */

#speakers h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1rem;

  text-transform: uppercase;
  font-size: 2rem;

  display: inline-block;
  white-space: nowrap;
}

.date {
  font-style: italic;
}

.time {
  text-align: right;
  font-weight: bold;
}

.location {
  text-align: right;

  margin-bottom: 1rem;
}

.info {
  line-height: 1.1;
  width: 60%;
  font-size: 0.9rem;

  max-height: 15vh;
  overflow-y: auto;
}

.external_links {
  font-style: italic;
  font-size: 0.8rem;

  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* Speakers */

#speakers {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;

  display: overflow;
}

#anther_kiley {
  position: absolute;
  top: 50%;
  left: 1100px !important;

  z-index: -2;

  transition: padding 2s ease-in-out;
}

#anther_kiley.activeLink {
  color: white;

  background-color: black;
  padding: 16px;
  top: 0%;
  padding-top: 28%;

  z-index: 2;
}

#takahashi_kuan {
  position: absolute;
  top: 53%;
  left: 3200px !important;

  z-index: -3;

  transition: padding 2s ease-in-out;
}

#takahashi_kuan.activeLink {
  color: white;

  background-color: black;
  padding: 16px;
  top: 0%;
  padding-top: 28%;

  z-index: 2;
}

#e_roon_kang {
  position: absolute;
  top: 54%;
  left: 6000px !important;

  z-index: -3;

  transition: padding 2s ease-in-out;
}

#e_roon_kang.activeLink {
  color: white;

  background-color: black;
  padding: 16px;
  top: 0%;
  padding-top: 28%;

  z-index: 2;
}

#sebastian_aubin {
  position: absolute;
  top: 56%;
  left: 9500px !important;

  z-index: -3;

  transition: padding 2s ease-in-out;
}

#sebastian_aubin.activeLink {
  color: white;

  background-color: black;
  padding: 16px;
  top: 0%;
  padding-top: 28%;

  z-index: 2;
}

#anther_kiley,
#takahashi_kuan,
#e_roon_kang,
#sebastian_aubin {
  transition: background-color 1s ease-in-out, padding 1s ease-in-out;
}

.link {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.link.active {
  opacity: 1;
}

/* scroll bar -- https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

/* images */

img {
  position: absolute;
  transition: filter 0.2s ease-in-out;
  filter: drop-shadow(
    0 0 0 transparent
  ); /* Default state with no visible drop shadow */
}

img:hover,
img.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  filter: drop-shadow(
    4px 4px 0vh black
  ); /* Hover/Active state with visible drop shadow */
}

img.active {
  border-color: black;

  filter: drop-shadow(-6px 6px 0vh black);

  position: fixed;
  top: 25% !important;
  left: 30% !important;

  width: 70% !important;
  height: 70% !important;
}

#imgCaption {
  font-style: italic;
}

#akImg1 {
  top: 40%;
  left: 50%;
  width: 40%;
  height: 40%;

  z-index: -1;
}

#akImg2 {
  top: 10%;
  left: 10%;
  width: 30%;
  height: 30%;

  z-index: -2;
}

#akImg3 {
  top: 25%;
  left: 130%;
  width: 20%;
  height: 20%;

  z-index: -2;
}

#akImg4 {
  top: 65%;
  left: 90%;
  width: 50%;
  height: 50%;

  z-index: -1;
}

#akImg5 {
  top: 90%;
  left: 70%;
  width: 30%;
  height: 30%;

  z-index: -3;
}

#akImg6 {
  top: 5%;
  left: 150%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#tkImg7 {
  top: 90%;
  left: 180%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#tkImg8 {
  top: 25%;
  left: 220%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#tkImg9 {
  top: 50%;
  left: 320%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#tkImg10 {
  top: 45%;
  left: 385%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#tkImg11 {
  top: 20%;
  left: 395%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#akImg12 {
  top: 65%;
  left: 420%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#akImg13 {
  top: 10%;
  left: 455%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#akImg14 {
  top: 85%;
  left: 495%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#akImg15 {
  top: 40%;
  left: 500%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#akImg16 {
  top: 95%;
  left: 540%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#akImg17 {
  top: 0%;
  left: 570%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#akImg18 {
  top: 5%;
  left: 610%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#akImg19 {
  top: 80%;
  left: 660%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#akImg20 {
  top: 50%;
  left: 690%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#akImg21 {
  top: 60%;
  left: 720%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#akImg22 {
  top: 30%;
  left: 780%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#akImg23 {
  top: 90%;
  left: 840%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#akImg24 {
  top: 25%;
  left: 855%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#akImg25 {
  top: 20%;
  left: 900%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

img {
  object-fit: cover; /* ensure img covers the div without stretching */
}

/* misc */

.debug {
  position: fixed;
  top: 80%;
  left: 80%;

  z-index: 1000;
}
