* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  opacity: 1;

  scrollbar-width: thin;
  scrollbar-color: black transparent; /* thumb and track color */
}

body {
  min-width: 14000px;

  max-height: 100vh;

  overflow-y: hidden;
}

/* Main Title */

#mainTitle {
  font-family: roc-grotesk-extrawide, sans-serif;
  font-weight: 400;
  font-style: normal;

  text-transform: uppercase;
  font-size: 10rem;

  position: absolute;
  max-width: none;

  top: -20%;
  left: 0;

  pointer-events: none;
}

#mainTitle h1 {
  top: -12%;
  left: 0;

  transform: translateX(-0.5%);

  max-width: none;
  white-space: nowrap;
}

/* Fixed */

.sticky {
  position: fixed;

  z-index: 4;
}

#subTitle {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;

  letter-spacing: 0;

  top: 91vh;
  left: 10vw;

  transition: all 0.3s ease-in-out;

  width: 30vw;
  height: 10vh;

  display: inline-block;
  white-space: nowrap;
  animation: slide 10s linear infinite;

  pointer-events: none;
}

/* Navigation */

.hrefNav {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;

  top: 50vh;
  left: 12vw;

  text-transform: uppercase;

  display: auto;
}

.link:visited {
  color: black;
}

.link {
  color: black;
  text-decoration: underline;
  font-size: 1.5rem;

  transition: opacity 0.2s ease-in-out;
  opacity: 1;

  z-index: 2;
}

.link:hover {
  border-color: black;
  border-width: 2px;
  border-style: solid;

  padding-left: 1rem;
}

#start {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;

  top: 80vh;

  text-transform: lowercase;
  font-size: 1rem;

  background-color: white;
  padding-left: 8px;
  padding-right: 8px;

  border-color: grey;
  border-width: 1px;
  border-style: solid;
}

#start:hover {
  text-decoration: underline;
}

/* Data Stlying */

#speakers h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1rem;

  text-transform: uppercase;
  font-size: 2rem;

  display: inline-block;
  white-space: nowrap;

  opacity: 0;
}

.date {
}

.time {
  margin-bottom: 1rem;
}

.location {
  margin-bottom: 1rem;
}

.info {
  width: 80%;
  font-size: 0.9rem;

  max-height: 26vh;

  overflow-y: auto;
}

.info:hover {
  cursor: ns-resize;
}

.external_links {
  font-style: italic;
  font-size: 0.8rem;

  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* Speakers */

#speakers {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;

  display: overflow;
}

#anther_kiley {
  position: absolute;
  top: 50vh;
  left: 1100px !important;

  z-index: -2;

  transition: padding 2s ease-in-out;
}

#anther_kiley.activeLink {
  color: black;

  background-color: white;
  padding: 16px;
  top: 0%;
  padding-top: 49vh;

  z-index: 1;
}

#takahashi_kuan {
  position: absolute;
  top: 53vh;
  left: 3200px !important;

  z-index: -3;

  transition: padding 2s ease-in-out;
}

#takahashi_kuan.activeLink {
  color: black;

  background-color: white;
  padding: 16px;
  top: 0%;
  padding-top: 48vh;

  z-index: 1;
}

#e_roon_kang {
  position: absolute;
  top: 54vh;
  left: 6000px !important;

  z-index: -3;

  transition: padding 2s ease-in-out;
}

#e_roon_kang.activeLink {
  color: black;

  background-color: white;
  padding: 16px;
  top: 0%;
  padding-top: 57vh;

  z-index: 1;
}

#sebastian_aubin {
  position: absolute;
  top: 56vh;
  left: 9500px !important;

  z-index: -3;

  transition: padding 2s ease-in-out;
}

#sebastian_aubin.activeLink {
  color: black;

  background-color: white;
  padding: 16px;
  top: 0%;
  padding-top: 60vh;

  z-index: 1;
}

#anther_kiley,
#takahashi_kuan,
#e_roon_kang,
#sebastian_aubin {
  transition: background-color 1s ease-in-out, padding 1s ease-in-out;
}

.link.active {
  opacity: 0.2;
}

.link.active:hover {
  opacity: 0.5;
}

.above {
  z-index: 99;
}

/* scroll bar -- https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* For WebKit (Safari, Chrome) */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

*::-webkit-scrollbar-thumb:hover {
  background: white;
  border: 2px solid black;
}

/* images */

img {
  position: absolute;
  transition: filter 0.2s ease-in-out;
  transition: top, left, width, height 1s ease;
  filter: drop-shadow(
    0 0 0 transparent
  ); /* Default state with no visible drop shadow */

  object-fit: cover;
}

img:hover,
img.active {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  filter: drop-shadow(
    4px 4px 0vh black
  ); /* Hover/Active state with visible drop shadow */
}

img.active {
  border-color: black;

  filter: drop-shadow(-6px 6px 0vh black);

  position: fixed;
  top: 10vh !important;
  left: 20vw !important;

  min-width: 80vw !important;
  width: 80vw !important;
  height: 80vh !important;
}

#imgCaption {
  font-style: italic;

  font-weight: lighter;

  position: fixed;
  top: 84vh;

  font-size: 1rem;

  width: 10vw;
}

#akImg1 {
  top: 40%;
  left: 50%;
  width: 40%;
  height: 40%;

  z-index: -1;
}

#akImg2 {
  top: 10%;
  left: 10%;
  width: 30%;
  height: 30%;

  z-index: -2;
}

#akImg3 {
  top: 25%;
  left: 130%;
  width: 20%;
  height: 20%;

  z-index: -2;
}

#akImg4 {
  top: 65%;
  left: 90%;
  width: 50%;
  height: 50%;

  z-index: -1;
}

#akImg5 {
  top: 90%;
  left: 70%;
  width: 30%;
  height: 30%;

  z-index: -3;
}

#akImg6 {
  top: 5%;
  left: 150%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#tkImg7 {
  top: 90%;
  left: 180%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#tkImg8 {
  top: 25%;
  left: 220%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#tkImg9 {
  top: 50%;
  left: 320%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#tkImg10 {
  top: 45%;
  left: 385%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#tkImg11 {
  top: 20%;
  left: 395%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#erImg12 {
  top: 65%;
  left: 420%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#erImg13 {
  top: 10%;
  left: 455%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#erImg14 {
  top: 85%;
  left: 495%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#erImg15 {
  top: 40%;
  left: 500%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#erImg16 {
  top: 95%;
  left: 540%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#erImg17 {
  top: 0%;
  left: 570%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#erImg18 {
  top: 5%;
  left: 610%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#erImg19 {
  top: 80%;
  left: 660%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#saImg20 {
  top: 50%;
  left: 690%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#saImg21 {
  top: 60%;
  left: 720%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#saImg22 {
  top: 30%;
  left: 780%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#saImg23 {
  top: 90%;
  left: 840%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

#saImg24 {
  top: 25%;
  left: 855%;
  width: 30%;
  height: 30%;
  z-index: -1;
}

#saImg25 {
  top: 20%;
  left: 900%;
  width: 30%;
  height: 30%;
  z-index: -3;
}

/* misc */

.debug {
  position: fixed;
  top: 80%;
  left: 80%;

  z-index: 1000;

  display: none;
}

.mobile {
  display: none;
}

#subTitle {
  font-size: 4.35rem;
  width: 60vw;

  font-weight: bold;

  z-index: -1;
}

/* animations */

@keyframes slide {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(100vw);
  }
}

/* smaller viewports */

@media (max-width: 600px) {
  body {
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    max-width: 100vw !important;
  }

  .mobile {
    display: block;
  }

  #subTitle {
    position: fixed;
    top: 90vh;

    font-size: 10px;
    width: 60vw;
  }

  #speakers h3 {
    font-size: 1.5rem;
  }

  .info {
    font-size: 0.8rem;
  }

  .external_links {
    font-size: 0.6rem;
  }

  #akImg1,
  #akImg2,
  #akImg3,
  #akImg4,
  #akImg5,
  #akImg6,
  #tkImg7,
  #tkImg8,
  #tkImg9,
  #tkImg10,
  #tkImg11,
  #erImg12,
  #erImg13,
  #erImg14,
  #erImg15,
  #erImg16,
  #erImg17,
  #erImg18,
  #erImg19,
  #saImg20,
  #saImg21,
  #saImg22,
  #saImg23,
  #saImg24,
  #saImg25 {
    display: none;
  }

  img {
    position: relative;
    width: 35vw;
    height: 35vh;

    display: grid;

    z-index: 2;

    margin-bottom: 1rem;
  }

  img.activeMobile {
    position: fixed;
    top: 10vh;
    left: 10vw;

    width: 80vw;
    height: 300px;

    filter: none;

    z-index: 10;
  }

  /* .images.active {
    filter: blur(5px);
  } */

  .link,
  #start,
  .debug,
  #speakers,
  #imgCaption,
  #subTitle {
    display: none !important;
  }

  #mainTitle {
    font-size: 2rem;
    top: -10%;
  }

  .mobileData {
    overflow: scroll;
    position: fixed;
    display: block;

    top: 10vh;
    left: 15vw;

    height: 80vh;
    max-height: 80vh;
    width: 80vw;
  }

  .mobileDataContent {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;

    font-size: 0.8rem;
    text-align: left;
  }

  .time {
    text-align: left;
  }

  .location {
    text-align: left;
  }

  .info {
    text-align: left;

    max-height: none;

    margin-bottom: 3rem;
    max-width: 72%;
  }

  .slide-up {
    top: -100vh; /* Move div out of view */
  }

  .mobileTitle {
    font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 400;
    font-style: normal;

    text-transform: uppercase;
    font-size: 0.8rem;

    position: fixed;

    top: 0;
    left: 3vw;

    pointer-events: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;

    z-index: -2;
  }
}
